<%= render partial: "devise/shared/header"%>

<div class="main">
  <div class="left-area">
    <div class="form-title">検索フォーム</div>

    <div class="search-form">

    </div>
  </div>
  <div class="right-area">
    <div class="shop">
      <div class="title">レストラン一覧</div>
    </div>
    <div class="search-value"></div>
    <div class="shop-group">
      <div class="shop-list">

      </div>
    </div>
  </div>
</div>

<%= render partial: "devise/shared/footer"%>