.top-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.title-box a {
  width: 15vw;
  height: 60px;
  margin: 20px 40px;
  display: flex;
  font-weight: bold;
  font-size: 40px;
  padding-left: 20px;
  text-decoration: none;
}

.nav {
  width: 450px;
  height: 40px;
  margin: 40px 100px 20px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  line-height: 20px;
}

.nav-button{
  width :96px;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #666666;
  color: white;
  border: 2px solid #666666;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.login-flash-message{
  text-align: center;
  color: red;
}
