.main {
  width: 100vw;
  height: 100vh;
  padding: 10px 0;
  justify-content: center;
}

.main-cover-logo {
  width: 100vw;
}

.contents-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.menu-list {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  justify-content: center;
}

.shop_search {
  display: flex;
  justify-content: center;
}

.shop, .search-value {
  width: 100%;
  border-bottom: solid 3px #666666;
}

.title {
  text-align: center;
  font-size: 25px;
}

.shop-list{
  height: 400px;
  display: flex;
  justify-content: center;
  flex-wrap : wrap;
  overflow: scroll;
  border-radius: 0 0 10px 10px;
}

.error {
  height: calc(100% - 138px);
}

.shop-detail-group {
  width: 250px;
  margin: 0 8px 5px 0;
  border: solid 2px #666666;
  border-radius: 10px;
}

.shop-image {

  width: 200px;
  border-bottom: solid 2px #666666;
}

.shop-reserve-group {

}

.title-address-genre {
  margin: auto;
  width: 200px;
  border-bottom: solid 2px #666666;
}


.index {
  height: 25px;
  text-align: center;
  font-size: 14px;
}
.shop-name {
  margin: auto;
  width: 200px;
  border-bottom: solid 2px #666666;
}

.genre-address {
  display: flex;
}

.genre {
  width: 200px;
}

.address {
  width: 200px;
}

.shop-wrapper {
  color: #444444;
  text-decoration: none;
}


.shop-show-button {
  display: flex;
}


.shop-image {
  margin: auto;
  width: 200px;
  height: 200px;
}

.shop-tags {
  height: 120px;
  display: flex;
  flex-wrap : wrap;
}
.tag-list {
  height: 25px;
  width: 98px;
  margin: auto;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #666666
}


.form {
  margin: 10px 10px 0 10px;
}

.search-form-wrapper {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #666666;
  border-radius: 10px;
  width: 60vw;
}

.search-form {
  justify-content: center;
}

.form-title {
  text-align: center;
  font-size: 20px;
}


.form-tag {
  border-radius: 10px;
  margin: 10px;
}

.search-button {
  margin: 15px 0 0 8px;
}

.tag {
  display: flex;
  justify-content: left;
}

.reservation-list {
  width: 200px;
  text-align: center;
  position: relative;
  color: #666666;
  background-color :#EEEEEE;
  border: 2px solid #666666;
  border-radius: 10px;
  padding: 7px;
  z-index: 30;
  overflow: scroll;
}
li {
  padding-top: 5px;
}

.hidden{
  display: none;
}

.complete {
 margin: auto;
}


.reservation-group {
  border-bottom: 1px solid #666666;
}

.reservation-title {
  font-size: 12px;
  border-bottom: 1px solid #666666;
}

.reservation-shop-title {
  font-size: 10px;
}

.reservation-detail {
  font-size: 10px;
  text-align: left;
}

.reservation-info {
  display: flex;
  justify-content: center;
}
